@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body{
    background: #EFF2F3;
    background-image: url(/Desert.png);
    background-position: bottom;
    background-position-y: -185px;
    background-size: 100vw;
    background-repeat: no-repeat;
}

.container{

}

div{

}

#about{
    height: 100vh;
}

#divNavbar{
    display: flex;
    justify-content: flex-end;
}

.navbar{
    background: transparent !important;
    padding: 0 !important;
}

.navbar-nav{
    background-color: #EC9D79;
    height: 288px;
}

#navbarLinks{
    margin: auto auto 59px auto;
}

.nav-link{
    color: #EFF2F3 !important;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #EFF2F3;
    text-transform: uppercase;
    padding: 8.5px 0 8.5px 0;
}

.active{
    text-decoration: underline !important;
}

.nav-link:hover{
    color: rgb(247,215,197) !important;
}

#divAbout{
    margin-top: 288px;
}

h1{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 104px;
    color: #33444C;
    margin-top: 0;
}

#paragraphAbout{
    margin-top: 122px;
    margin-bottom: auto;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 48px;
    color: rgba(51, 68, 76, 0.8);
}

h2{
    margin: 0;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #33444C;
}

p{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 68, 76, 0.8);
}

#projects{
    background: #EFF2F3;
    overflow: auto;
}

.blockProjects{
    margin-top: 144px;
}

#projectFinal{
    margin-bottom: 144px;
}

.paragraphProjects{
    margin: 18px 0 0 0;
}

.buttonSeeMore{
    height: 48px;
    width: 168px;
    background-color: #EC9D79;
    border: 3px solid #F7D7C5;
    box-shadow: 6px 6px 0px #F7D7C5;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    color: #EFF2F3 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px 0 0 0;
}

.buttonSeeMore:hover{
    text-decoration: none;
    color: #F7D7C5 !important;
}

#divForm{
    background: #CCDAE0;
}

form{
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    margin: 78px 0 0 0;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 37.5px;
    line-height: 48px;
    color: #33444C;
}

input{
    margin: 32px 0 0 0;
    width: 100%;
    height: 56px;
    background: #EFF2F3;
    border: none;
}

textarea{
    margin: 32px 0 0 0;
    width: 100%;
    height: 160px;
    background: #EFF2F3;
    border: none;
}

::placeholder{
    padding-left: 16px;
}

textarea::placeholder{
    padding-top: 12px;
}

#divBtn{
    display: flex;
    justify-content: center;
}

#btnSend{
    background: #EFF2F3;
    border: 3px solid #33444C;
    box-sizing: border-box;
    border-radius: 50px !important;
    height: 56px;
    width: 190px;
    margin: 48px 0 64px 0;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    color: #33444C;
}

#divInfo h2{
    margin: 0 auto 0 95px;
}

h4{
    margin: 5px auto 0 95px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #33444C;
    text-transform: uppercase;
}

#divInfo{
    margin: auto 0 159px 0;
    padding: 0;
}

#divInfo ul{
    list-style: none;
    margin: 19px auto 0 95px;
    padding: 0;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 68, 76, 0.8);
}

footer{
    height: 143px;
}

