@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body{
    background: #EFF2F3;
    background-image: url(/Desert.png);
    background-position: bottom;
    background-position-y: -185px;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about{
    height: 100vh;
}

ul{
    height: 288px;
    background-color: #F2AD8C;
    padding-bottom: 42px;
    padding-left: 84px !important;
    padding-right: 0 !important;
    padding-top: auto;
    margin: 0 !important;
}

.nav{
    z-index: 1;
    margin-top: auto;
    margin-bottom: 48px;
}

.nav-link{
    padding: 0;
    margin-top: 34px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
    color: #EFF2F3;
}

#aboutTitleParagraph{
    z-index: 2;
    height: 314px;
    margin-top: -9px;
}

h1{
    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    line-height: 104px;
    color: #33444C;
    height: 48px;
    padding-bottom: 0;
    padding-top: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: auto;
    margin-top: 0;
}

#aboutParagraph{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 48px;
    color: rgba(51, 68, 76, 0.80);
    margin-top: auto;
    margin-bottom: 0;
    padding: 0;
}

#projects{
    background: #EFF2F3;
    padding: 0 !important;
}

#projectsContainer{
    padding-top: 140px;
    padding-bottom: 140px;
}

.project{
    margin-top: 140px !important;
    margin-bottom: 140px !important;
}

h3{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #33444C;
}

.projectImage{
    padding: 0;
}

.projectParagraph{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #33444C95;
    margin-top: 18px;
}

.buttonSeeMore{
    height: 56px;
    width: 190px;
    background-color: #EC9D79;
    border: 3px solid #F7D7C5;
    box-shadow: 8px 8px 0px #F7D7C5;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    color: #F7F8F8 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px 0 0 0;
}


#contact{
    padding: 0;
}

#contactBackground{
    z-index: 2;
    display: flex;
}

#blue{
    background-color: #CCDAE0;
    position: absolute;
    width: 50%;
    height: 675px;
    background: #CCDAE0;
}

#transparent{
    width: auto;
}

#contactContainer{
    z-index: 3;
}

form{
    background-color: #CCDAE0;
    padding-left: 0 !important;
    padding-right: 95px !important;
    width: 665px !important;
}

h2{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 38px !important;
    line-height: 48px;
    color: #33444C;
    padding: 0 !important;
    width: 665px !important;
    margin: 75px 0 27px 0;
    margin-right: 0 !important;
}

#name{
    height: 64px;
    width: 665px;
    border: none;
    border-radius: 0 !important;
    background-color:#EFF2F3;
    margin-top: 0px;
    padding: 0 !important;
}

#email{
    height: 64px;
    width: 665px;
    border: none;
    border-radius: 0 !important;
    background-color:#EFF2F3;
    margin-top: 32px;
    padding: 0;
}

#message{
    height: 106px;
    width: 665px;
    border: none;
    border-radius: 0 !important;
    background-color:#EFF2F3;
    margin-top: 32px;
    padding: 0;
}

::placeholder{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #33444C80 !important;
}

.form-group{
    margin-bottom: 0 !important;
}

#btnSend{
    background: #EFF2F3;
    border: 3px solid #33444C;
    box-sizing: border-box;
    border-radius: 50px !important;
    height: 56px;
    width: 190px;
    margin: 56px 0 64px 0;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    color: #33444C;
}

h4{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #33444C;
    margin-bottom: 37px;
}

#contactInfo{
    padding-left: 95px !important;
    padding-right: 0 !important;
    margin-top: auto;
    margin-bottom: 156px;
}

.paragraphContact{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #33444C95;
    margin-top: 14px;
}