@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body{
    background: #EFF2F3;
}

.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#about{
    height: 100vh;
    padding: 0 !important;

}

#rectangle{
    z-index: 1;
    height: 50vh;
    background-image: url(/Rectangle.png);
}

#menuAndTitle{
    z-index: 2;
    position: absolute;
    top: 0;
    height: 50vh;
    width: 1140px;
}

.nav{
    margin-top: auto;
    margin-bottom: 48px;
}

.nav-link{
    padding: 0;
    margin-top: 34px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
    color: #EFF2F3;
}

h1{
    margin: auto 0 0 0 !important;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
    line-height: 152px;
    color: #33444C;
}

#aboutParagraph{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 56px;
    color: rgba(51, 68, 76, 0.8);
    margin-top: 16vh;
    margin-bottom: 0;
}

#projects{

}

#projectsContainer{
    margin-bottom: 140px;
}

.project{
    margin: 140px 0 0 0;
}



.projectParagraph{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #33444C;
}

.buttonSeeMore{
    height: 56px;
    width: 190px;
    background-color: #EC9D79;
    border: 3px solid #F7D7C5;
    box-shadow: 8px 8px 0px #F7D7C5;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    color: #F7F8F8 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 23px 0 0 0;
}

#contact{
    background-color: #CCDAE0;
    padding-top: 83px;
}


h2{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #33444C;
    padding: 0 !important;
}

input{
    height: 64px;
    border: none;
    border-radius: 0 !important;
    background-color:#EFF2F3;
    margin-top: 32px;
}

::placeholder{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #33444C !important;
}

.form-group{
    margin-bottom: 0 !important;
}

#btnSend{
    background: #EFF2F3;
    border: 3px solid #33444C;
    box-sizing: border-box;
    border-radius: 50px !important;
    height: 56px;
    width: 190px;
    margin: 48px 0 96px 0;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.085em;
    color: #33444C;
}

footer{
    height: 96px;
    background-color: #EFF2F3;
    text-align: center;
    color: #33444C;
}